body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 38px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav */

.nav__list {
  display: flex;
}

.nav__link {
  margin-left: 50px;
  padding: 5px;
  color: #fff;
  background: none;
  
  transition: background-color .2s linear, color .2s linear;
}

.nav__link:hover {
  background: #fff;
  color: #000;
}

/* Intro */
.intro__inner {
  display: block;
  justify-content: center;
  align-items: center;

  padding-top: 295px;

  background: url('../img/intro-bg.png');
  background-position:  right top 150px;
  background-repeat: no-repeat;
}

.intro__suptitle,
.intro__subtitle {
  font-size: 50px;
  font-weight: 300;
  color: #000;
}

.intro__suptitle span {
  background-color: #000;
  color: #fff;
}

.intro__title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
}

.intro__subtitle span {
  background-color: #FFFF00;
}

.intro__buttons {
  margin-top: 50px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;  
}

/* Btn */
.btn {
  display: inline-block;
  min-width: 160px;
  text-align: center;
  padding: 18px 0;
  border: 3px solid #000;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-right: 40px;

  transition: background-color .15s linear, color .15s linear;
}

.btn--yellow {
  background: #FFFF00;
}

.btn:hover{
  background: #000;
  color: #fff;
}

/* Social */

.social {
  display: inline-block;
  vertical-align: middle;
}

.social__icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 3px solid #000;

  margin-right: 30px;
  transition: background-color .15s linear, fill .15s linear;
}

.social__icon:hover {
  fill: #fff;
  background-color: #000;
}

/* Section */
.section {
  padding-top: 200px;
}

.section__header {
  position: relative;
  margin-bottom: 70px;
}

.section__title {
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

.section__title-bg {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFF00;

  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
}

/* About */
.about__text {
  font-size: 24px;
  font-weight: 400;
  color: 0;
  margin: 50px 0;
}

/* Services */
.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.services__item {
  width: 22%;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;

  padding-top: 130px;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__item-1 {
  background: url('../img/services/html.jpg') center top no-repeat
}

.services__item-2 {
  background: url('../img/services/adaptive.jpg') center top no-repeat
}

.services__item-3 {
  background: url('../img/services/server.jpg') center top no-repeat
}

.services__item-4 {
  background: url('../img/services/js.jpg') center top no-repeat
}